window {
    font-family: JetBrains Mono Nerd Font;
    font-size: 14pt;
    color: #ffffff; /* text */
    background-color: rgba(46, 52, 64, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    color: #ffffff;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(76, 85, 106, 0.4);
}

button:focus {
    background-color: #4c566a;
    color: #ffffff;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}
#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
