/*@import url("/home/obnomus/.cache/wal/colors-waybar.css");*/

* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.7;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
  background: #000000;
  opacity: 0.7;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 7px;
  border: 0px;
}

#network,
#backlight,
#custom-launch_wofi,
#cpu {
  border-radius: 10px 0px 0px 10px;
}

#custom-light_dark,
#workspaces,
#pulseaudio.microphone,
#battery,
#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#temperature.critical {
  color: #e92d4d;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#custom-launch_wofi {
  color: #cdd6f4;
  margin-left: 5px;
  border-right: 0px;
}

#pulseaudio {
  color: #cdd6f4;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cdd6f4;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #cdd6f4;
  border-left: 0px;
}

#tray {
  background: #000000;
  opacity: 0.7;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-right: 5px;
  margin-top: 7px;
  border: 5px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#clock {
  background: #000000;
  opacity: 0.7;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 7px;
  border: 5px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#taskbar {
  background: #000000;
  opacity: 0.7;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 7px;
  border: 5px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #93cee9;
  animation: gradient_f 5s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#taskbar button.active {
  background: #93cee9;
  color: #ffffff;
  margin-left: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
